<section class="h-185 flex flex-col justify-between">
  @if (isLoading()) {
    <img src="assets/img/icons/loading.gif" alt="cargando" class="w-60 m-auto" />
  } @else if (pokemonInfo) {
    <div class="relative flex items-center justify-center mt-5">
      <img
        src="assets/img/icons/bar-2.png"
        class="absolute inset-0 object-fill pixelated -z-10 select-none pointer-events-none h-9 w-full"
        draggable="false"
        alt="bar"
      />

      <div class="relative mt-2 flex items-center w-[90%]">
        <div class="flex items-center gap-2 text-white shrink-0">
          <img src="assets/img/icons/n-pokemon.png" alt="Numero" />
          {{ pokemonInfo.id }}
        </div>

        <div
          class="absolute ml-34 flex-1 overflow-x-auto overflow-y-hidden whitespace-nowrap w-full"
        >
          <span class="w-full">
            {{ pokemonInfo.name.toUpperCase() }}
          </span>
        </div>
      </div>
    </div>

    <div class="relative flex justify-between m-auto mt-5 flex-col w-full">
      <img
        [src]="backGroundImg"
        alt="box"
        class="absolute inset-0 object-fill pixelated -z-10 select-none pointer-events-none w-[94%] m-auto mt-0 h-88"
      />

      <button class="cursor-pointer" (click)="viewShiny()" title="Ver forma shiny">
        <img
          src="assets/img/icons/buttons/shiny.png"
          alt="shiny"
          class="absolute flex h-10 w-10 ml-153 mt-15 pixelated transition-all"
          [style.opacity]="shiny() ? 1 : 0.5"
        />
      </button>

      <button class="cursor-pointer" (click)="playCries( pokemonInfo.cries.latest)" [disabled]="audioplaying()" title="Escuchar sonido">
        <img
          src="assets/img/icons/buttons/audio.png"
          alt="shiny"
          class="absolute flex h-8 w-20 ml-140.5 mt-75 pixelated transition-all"
          [style.opacity]="audioplaying() ? 1 : 0.5"
        />
      </button>

      <div class="absolute flex flex-row ml-10 mt-3">
        @for (item of pokemonInfo.types; track $index) {
          <img
            [src]="'assets/img/icons/types/' + item.type.name + '.png'"
            alt="tipo"
            class="pixelated h-20 w-20"
          />
        }
      </div>

      <div class="flex justify-center items-center h-70 w-70 m-auto mt-15">
        <img
          class="pixelated w-full h-full max-w-full max-h-full object-contain"
          [src]="pokemonSprite"
          (error)="onImageError($event)"
          [alt]="pokemonInfo.name"
        />
      </div>

      <div class="absolute w-full m-auto mt-90 h-65">
        <img
          src="assets/img/icons/box-descripcion.png"
          alt="box"
          class="absolute inset-0 object-fill pixelated -z-10 select-none pointer-events-none w-[94%] m-auto h-65"
        />
        <div class="absolute w-full m-auto h-65">
          @switch (currentDisplay()) {
            @case ('description') {
              <app-description-component [description]="description"> </app-description-component>
            }

            @case ('moves') {
              <app-moves-component [movesPokemon]="pokemonInfo.moves"> </app-moves-component>
            }

            @case ('stats') {
              <app-stats-component [stats]="pokemonInfo.stats"> </app-stats-component>
            }

            @case ('abilities') {
              <app-abilities-component [abilitiesPokemon]="pokemonInfo.abilities">
              </app-abilities-component>
            }

            @case ('evolution') {
              <app-evolution-component [pokemonSpecies]="pokemonSpecies"> </app-evolution-component>
            }

            @case ('combat') {
              <app-combat-component [typesPokemon]="pokemonInfo.types"> </app-combat-component>
            }
          }
        </div>
      </div>
      <!--Botones-->
      <div class="flex w-full mt-158 absolute">
        <img
          src="assets/img/icons/bar-1.png"
          class="absolute inset-0 object-fill pixelated -z-10 select-none pointer-events-none h-9 w-full"
          draggable="false"
          alt="bar"
        />
        <div class="flex flex-row justify-around align-middle w-full p-1">
          @for (button of buttons; track button.id) {
            <button
              (click)="changeDisplay(button.id)"
              [class.active]="currentDisplay() === button.id"
              class="cursor-pointer"
            >
              <img [src]="button.src" [alt]="button.text" class="w-7" />
            </button>
          }
        </div>
      </div>
    </div>
  }
</section>
