<span class="title-data-pokedex">En combate</span>
@if (isLoading()) {
  <img src="assets/img/icons/loading.gif" alt="cargando" class="w-40 mt-17 m-auto pixelated" />
} @else {
  <div class="mt-15 w-[92%] h-49 m-auto combat-table pr-1">
    @if (superWeak.length) {
      <div class="combat-row">
        <h3 class="badge-x4 badge">x4</h3>
        <div class="type-row">
          @for (item of superWeak; track item.name) {
            <img [src]="'assets/img/icons/types/' + item.name + '.png'" class="pixelated h-8 w-8" [alt]="item.name" />
          }
        </div>
      </div>
    }
    @if (weak.length) {
      <div class="combat-row">
        <h3 class="badge-x2 badge">x2</h3>
        <div class="type-row">
          @for (item of weak; track item.name) {
            <img [src]="'assets/img/icons/types/' + item.name + '.png'" class="pixelated h-8 w-8" [alt]="item.name" />
          }
        </div>
      </div>
    }
    @if (normalDamage.length) {
      <div class="combat-row">
        <h3 class="badge-x1 badge">x1</h3>
        <div class="type-row">
          @for (item of normalDamage; track item.name) {
            <img [src]="'assets/img/icons/types/' + item.name + '.png'" class="pixelated h-8 w-8" [alt]="item.name" />
          }
        </div>
      </div>
    }
    @if (resistant.length) {
      <div class="combat-row">
        <h3 class="badge-x05 badge">x0.5</h3>
        <div class="type-row">
          @for (item of resistant; track item.name) {
            <img [src]="'assets/img/icons/types/' + item.name + '.png'" class="pixelated h-8 w-8" [alt]="item.name" />
          }
        </div>
      </div>
    }
    @if (superResistant.length) {
      <div class="combat-row">
        <h3 class="badge-x025 badge">x0.25</h3>
        <div class="type-row">
          @for (item of superResistant; track item.name) {
            <img [src]="'assets/img/icons/types/' + item.name + '.png'" class="pixelated h-8 w-8" [alt]="item.name" />
          }
        </div>
      </div>
    }
    @if (immune.length) {
      <div class="combat-row">
        <h3 class="badge-x0 badge">x0</h3>
        <div class="type-row">
          @for (item of immune; track item.name) {
            <img [src]="'assets/img/icons/types/' + item.name + '.png'" class="pixelated h-8 w-8" [alt]="item.name" />
          }
        </div>
      </div>
    }
  </div>
}