<span class="title-data-pokedex"> Linea evolutiva </span>
@if (isLoading()) {
  <img src="assets/img/icons/loading.gif" alt="cargando" class="w-40 mt-17 m-auto" />
} @else if (evolutionChain.chain) {
  <div class="gap-1 p-1 mt-15 w-[92%] h-49.5 m-auto overflow-auto">
    @if (evolutionChain.chain.evolves_to.length == 0) {
      No hay informacion
    } @else {
      <app-evolution-node
        [node]="evolutionChain.chain"
        (changePokemonInfo)="changePokemonInfo.emit($event)"
        (showMoveData)="showMoveData.emit($event)"
      ></app-evolution-node>
    }
  </div>
}
