<span class="title-data-pokedex flex flex-row justify-between w-full"
  ><div class="flex flex-row gap-3">
    <img src="assets/img/icons/search.png" alt="Lupa" />
    <input
      [ngModel]="moveSearch()"
      (click)="playEfectSearch()"
      (ngModelChange)="moveSearch.set($event)"
      placeholder="Buscar Movimientos..."
      id=""
    />
  </div>
  Movimientos
</span>
@if (isLoading()) {
  <img src="assets/img/icons/loading.gif" alt="cargando" class="w-40 mt-17 m-auto" />
} @else {
  <div class="grid grid-cols-2 gap-1 p-1 mt-15 w-[92%] h-49 m-auto">
    <div class="w-full overflow-y-auto overflow-x-hidden grid grid-cols-2">
      @for (item of resulFilter(); track $index) {
        <button
          class="flex items-center justify-center h-8 text-[0.6rem] bg-[#bdfeff] border border-[#3a96b6] text-center leading-none overflow-hidden cursor-pointer"
          (click)="selectMove(item)"
        >
          {{ getSpanishName(item) }}
        </button>
      }
    </div>
    <!--Informacion-->
    <div class="relative w-full">
      <img
        src="assets/img/icons/box-move-info.png"
        alt="box"
        class="absolute inset-0 w-full h-full object-fill pixelated pointer-events-none -z-10"
      />

      @if (move) {
        <div class="absolute ml-64.5 mt-2 flex flex-col gap-2 text-center cursor-pointer">
          <img
            [src]="'assets/img/icons/types/' + move.type.name + '.png'"
            [alt]="move.type.name"
            [title]="move.type.name"
            class="w-9 h-9 object-fill pixelated"
          />

          <img
            [src]="'assets/img/icons/class-damage/' + move.damage_class.name + '.png'"
            [alt]="move.damage_class.name"
            class="w-9 h-6 object-fill pixelated"
            [title]="move.damage_class.name"
          />

          @if (selectedMovePokemon) {
            <img
              [src]="
                'assets/img/icons/learned-move/' +
                selectedMovePokemon.version_group_details[0].move_learn_method.name +
                '.png'
              "
              [title]="
                getMoveLearnMethodText(
                  selectedMovePokemon.version_group_details[0].move_learn_method.name
                )
              "
              (error)="onImageError($event)"
              [alt]="selectedMovePokemon.version_group_details[0].move_learn_method.name"
              class="w-8 h-8 object-fill pixelated"
            />

            @if (
              selectedMovePokemon.version_group_details[0].move_learn_method.name === 'level-up'
            ) {
              <span class="-mt-2 text-[0.75rem]">
                {{ selectedMovePokemon.version_group_details[0].level_learned_at }}
              </span>
            }
          }
        </div>

        <div class="relative z-10 p-3 pb-2 w-60 -mt-1 text-[0.75rem] overflow-x-auto text-white">
          {{ getSpanishName(move) }}
        </div>
        <div class="relative z-10 p-3 pt-0 text-[0.65rem] mr-18 overflow-y-auto h-25">
          {{ getSpanishDescription(move) }}
        </div>
        <div
          class="absolute grid grid-cols-3 inset-0 w-full h-[20%] mt-36 gap-3 object-fill pixelated -z-10 text-[0.7rem] align-middle text-center text-white"
        >
          <div class="stat-box">
            <img
              src="assets/img/icons/PP.png"
              class="inset-0 object-fill pixelated -z-10"
              alt="PP"
            />
            {{ move.pp }}
          </div>
          <div class="stat-box">
            <img
              src="assets/img/icons/power.png"
              class="inset-0 object-fill pixelated -z-10"
              alt="power"
            />
            {{ move.power ?? 'X' }}
          </div>
          <div class="stat-box">
            <img
              src="assets/img/icons/accuracy.png"
              class="inset-0 object-fill pixelated -z-10"
              alt="accuracy"
            />{{ move.accuracy ?? 'X' }}
          </div>
        </div>
      }
    </div>
  </div>
}
