#fade {
  position: absolute;
  inset: 0;
  background: black;
  pointer-events: none;
  z-index: 999;
}

#viewport {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  touch-action: none;
  pointer-events: none;
}

#all {
  display: block;
  width: 1600px;
  height: 900px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  pointer-events: none;
  position: relative;
  transform-origin: center center;
  flex-shrink: 0; /* Yo del futuro esto ase que el flex no redimencione y no joda saludos desde el pasado*/
}
