.home-button {
  color: black;
  background: #f30b56;
  padding: 15px 40px 15px 40px;
  margin: 10px;
  font-size: 14px;
  font-family: 'PressStart2P', system-ui;
  border: 0;
  box-shadow:
    0px 5px black,
    0px -5px black,
    5px 0px black,
    -5px 0px black,
    0px 10px #00000038,
    5px 5px #00000038,
    -5px 5px #00000038,
    inset 0px 5px #ffffff36;
  cursor: pointer;
}

.home-button:hover {
  scale: 1.05;
}

.home-button:active {
  transform: translateY(5px);
  box-shadow:
    0px 5px black,
    0px -5px black,
    5px 0px black,
    -5px 0px black,
    inset 0px 5px #00000038;
}
