<section
  class="home flex flex-col items-center justify-center text-center px-6 pt-10"
>
  <img src="assets/img/logo-home.png" alt="Logo" class="w-[40%] pixelated">

  <p class="mb-5 mt-5 max-w-xl text-lg text-white">
    Bienvenido a una Pokédex donde podrás descubrir todos los Pokémon y conocer
    sus estadísticas.
  </p>

  <button
    (click)="changeView('pokedex')"
    class="home-button"
  >
    Ver Pokédex
  </button>

  <button
    (click)="changeView('select-minigames')"
    class="home-button"
  >
    Ver Minijuegos
  </button>
</section>