/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@font-face {
  font-family: 'PressStart2P';
  src: url('../public/assets/fonts/PressStart2P.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body,
html {
  font-family: 'PressStart2P', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#canvas-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  image-rendering: pixelated;
  background-color: black;
  cursor: default;
}

.pixelated {
  image-rendering: pixelated;
}

.content {
  position: relative;
  z-index: 1;
  padding: 20px;
  font-family: 'PressStart2P', sans-serif;
}

button {
  color: black;
  background: #f30b56;
  padding: 15px 40px 15px 40px;
  margin: 10px;
  font-size: 14px;
  font-family: 'PressStart2P', system-ui;
  border: 0;
  box-shadow:
    0px 5px black,
    0px -5px black,
    5px 0px black,
    -5px 0px black,
    0px 10px #00000038,
    5px 5px #00000038,
    -5px 5px #00000038,
    inset 0px 5px #ffffff36;
  cursor: pointer;
}

button:hover {
    scale: 1.05;

}

button:active {
  transform: translateY(5px);
  box-shadow:
    0px 5px black,
    0px -5px black,
    5px 0px black,
    -5px 0px black,
    inset 0px 5px #00000038;
}
